<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856703659616-pel4uk9eb2u2qc12m2ldgk4o8eitu75v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856703659616-pel4uk9eb2u2qc12m2ldgk4o8eitu75v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>856703659616-fhu253sd39n5m8rer6utiopc5r51uv5b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCQYl8j4N6_RyajMt-FJ8Pc83Scj5472w0</string>
	<key>GCM_SENDER_ID</key>
	<string>856703659616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.communitymed.app</string>
	<key>PROJECT_ID</key>
	<string>community-med-app</string>
	<key>STORAGE_BUCKET</key>
	<string>community-med-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856703659616:ios:eb1f98ae3214c9929b9d05</string>
</dict>
</plist>